<!DOCTYPE html>
<html ng-app="app">
<head><title>Express</title>

    <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower/angular-bootstrap/ui-bootstrap-csp.css">

    <link rel="stylesheet" href="stylesheets/style.css">

    <script rel="javascript" src="bower/lodash/dist/lodash.min.js"></script>
    <script rel="javascript" src="bower/angular/angular.min.js"></script>
    <script rel="javascript" src="bower/angular-animate/angular-animate.min.js"></script>
    <script rel="javascript" src="bower/angular-cookies/angular-cookies.min.js"></script>
    <script rel="javascript" src="bower/angular-route/angular-route.min.js"></script>
    <script rel="javascript" src="bower/angular-sanitize/angular-sanitize.min.js"></script>
    <script rel="javascript" src="bower/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script rel="javascript" src="bower/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script rel="javascript" src="javascripts/app.js"></script>

</head>
<body>
<div ng-view class="container">


</div>
</body>
</html>