<!DOCTYPE html>
<html ng-app="app">
<head><title>Express</title>

    <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">

    <script rel="javascript" src="bower/angular/angular.min.js"></script>
    <script rel="javascript" src="bower/jquery/dist/jquery.min.js"></script>
    <script rel="javascript" src="bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script rel="javascript" src="javascripts/app.js"></script>

</head>
<body>
<div ng-controller="homeCtrl">
    <h1>Express.js + Angular</h1>
    <h2>Hello!!!</h2>

    <div ng-include="'templates/template1.html'"></div>
</div>
</body>
</html>